<h1>New Game</h1>

<div>
  <ul class="d-flex flex-row list-unstyled">
    <% @letters.each do |letter| %>
      <li class="m-2 text-white text-center shadow-sm p-2" style="width: 40px; height:40px; background-color: rgba(83,184,245)"><%= letter %></li>
    <% end %>
  </ul>

  <form action="/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="word">What is the longest word you can find: </label>
    <input type="text" name="word" id="word" required>
    <input type="submit" value="Play">
  </form>

</div>
